html {
    scroll-behavior: smooth;
  }
  body{
    background-color: white;
    margin: 0;
  }
  * {
    font-family: Arial;
  }
  
  #navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  #navbar a{
    text-decoration: none;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-transform: uppercase;
  }
  #navbar a:hover {
    background: white;
    color: black;
  }
  
  #welcome-section{
    font-size: 1.4rem;
    text-align: center;
    background-image: url("https://drive.google.com/uc?id=1c2AWXaQmL23RWoa6veipP5VlT-CilrwB");
    background-size: cover;
    color: white;
    height: 100vh;
  }
  #me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Height: 100vh;
    padding-top: 4vh;
  }
  #prof-img{
    width: 15rem;
    border-radius: 50%;
    border-style: solid;
  }
  #welcome-section p{
    font-family: 'Roboto Mono' !important;
    font-size: 1rem;
    margin-top: -0.6rem;
  }
  @media(max-height:480px){
    #prof-img{
      width: 8rem;
    }
    #welcome-section{
      font-size: 1rem;
    }
    #welcome-section p{
      font-size: 0.7rem;
      margin-top: -15px;
    }
    #me{
      padding-top: 9vh;
    }
  }
  
  #contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
  }
  .contact-img{
    width: 24px;
    vertical-align:middle;
  }
  #profile-link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    vertical-align: middle;
    font-family: 'Roboto' !important;
  }
  #txt{
    vertical-align: middle;
    margin-left: 0.3rem;
  }
  #github{
    padding: 14px 16px;
  }
  #twitter{
    padding: 14px 16px;
  }
  #mail{
    padding-left: 16px;
    padding-right: 16px;
  }
  #github:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #twitter:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  @media(max-width: 500px){
    .contact-img{
    width: 12px;
    }
    #profile-link{
      font-size: 0.5rem;
    }
    #mail{
      font-size: 0.5rem;
    }
  }
  
  #projects-title{
    background-color: #171a21;
    color: white;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  .project-img{
    width: 280px;
  }
  #projects{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a2a3b;
  }
  .project-tile{
    margin: 1rem;
    text-decoration: none;
    background-color: rgba(225,225,225,0.5);
    padding: 1.3rem;
    border-radius: 1.3rem;
  }
  @keyframes tile-background-color {
     100% {
       background-color: rgba(255, 255, 255, 0.7);
     }
  }
  .project-tile:hover{
    animation-name: tile-background-color;
    animation-duration: 900ms;
    animation-fill-mode: forwards;
  }
  .project-txt{
    color: white;
    text-align: center;
    font-size: 1.35rem;
    background-color: rgba(0,0,0,0.6);
    padding: 0.8rem;
  }
  @media(max-width: 360px){
    .project-img{
      width: 210px;
    }
    .project-txt{
      font-size: 1.1rem;
    }
    #welcome-section p{
      font-size: 0.8rem;
    }
  }