.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: rgba(255, 255, 255, 0.705);
    width: 0%;
    height: 2px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 85%;
}

body {
    background: linear-gradient(
        to right,
        #03131a 0%,
        #041820 50%,
        #041820 50%,
        #03131a 100%
    );
}

.carousel-caption {
    background-color: #00000082;
    left: 0;
}

#genre-button {
    background-color: #d4ff9d;
}

#collapse-arrow {
    color: #03131a;
}

#game-card {
    background-color: #082836;
    color: white;
}
