body{
	font-family: 'mukta';
	font-size: 0.8rem;
	background-image: url(https://drive.google.com/uc?id=1iqk3XSuldjeVz6zTdkWhkFdRUmv9lF4A);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	color: white;
}
#title{
	text-align: center;
	margin: 4rem auto 0 auto;
}
#description{
	text-align: center;
	margin: 0 auto 1rem auto;
}
label{
	font-size: 1.5rem;
}
#survey-form{
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto 0 auto;
	padding: 30px 40px 30px 40px;
	border-radius: 2rem;
}
@media (min-width: 576px) {
  .container {
		margin: 0 auto 0 auto;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
		margin: 0 auto 0 auto;
    max-width: 720px;
		font-size: 1rem;
  }
}
#submit{
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 204, 0, 0.6);
	font-size: 1.5rem;
	border-radius: 15px;
	border: none;
	margin: 0 auto 0 auto;
	color: #e6e6e6;
}
.inp{
	display: block;
	width: 100%;
	height: 2.5rem;
	border-radius: 8px;
	font-size: 1rem;
	font-family: 'mukta';
	margin: 0 0 2rem 0;
	border: none;
	padding: 0.5rem;
	background-color: white;
}
textarea{
	min-height: 5rem !important;
	resize: vertical;
}
#radio-div{
	margin: 0 0 2rem 0;
}
#check-div{
	margin: 0 0 2rem 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#submit:hover{
	cursor: pointer;
	background-color: rgba(0, 204, 0, 0.7);
}